<!-- Banner -->
<section class="banner style3">
    <div class="content">
        {{ with .title }}<h1>{{ . }}</h1>{{ end }}
        {{ with .subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .button }}<ul class="actions fit+small">
            <li><a href="{{ .link }}" class="button primary">{{ .label }}</a></li>
            <li><a href="{{ .link }}" class="button secondary">{{ .label }}</a></li>
            <li><a href="{{ .link }}" class="button secondary">{{ .label }}</a></li>
            <li><a href="{{ .link }}" class="button secondary">{{ .label }}</a></li>
        </ul>
        {{ end }}
    </div>
    {{ with .image }}<div class="image">
        <img src="{{.}}" alt="Mridula Duggal" align="right"/>
    </div>{{end}}
    <div>
               {{ with .Site.Params.social.email }}<li><a target="_blank" href="mailto:{{.}}" class="fav icon style2 fa-envelope"><span class="label">Email</span></a></li>{{end}}
            {{ with .Site.Params.social.github }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>{{end}}
            {{ with .Site.Params.social.twitter }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>{{end}}
            {{ with .Site.Params.social.linkedin }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>{{end}}
        </ul>
        </div>
</section>