				<!-- Spotlight -->
                <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
                    <div class="content">
                        <center><h2>Spotlight</h2></center>
                          <dl>
                              <dt>Interdum adipiscing odio</dt>
                            <dd>
                              <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent fringilla quis tincidunt felis sagittis eget tempus euismod. Ante ipsum primis vestibulum.</p>
                                <ul class="actions stacked">
                                  <li><a href="#" class="button">Learn More</a></li>
                                </ul>
                            </dd>
                              <dt>Non faucibus ornare mi ut ante</dt>
                            <dd>
                              <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent fringilla quis tincidunt felis sagittis eget tempus euismod. Ante ipsum primis vestibulum.</p>
                                <ul class="actions stacked">
                                  <li><a href="#" class="button">Learn More</a></li>
                              </ul>
                            </dd>
                              <dt>Felis amet dolore viverra</dt>
                            <dd>
                              <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent fringilla quis tincidunt felis sagittis eget tempus euismod. Ante ipsum primis vestibulum.</p>
                              <ul class="actions stacked">
                                <li><a href="#" class="button">Learn More</a></li>
                              </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="image">
                        <img src="images/spotlight01.jpg" alt="" />
                    </div>
                </section>